@import '../../utils/sass/abstracts/all';
.header {
    transition: background-color #{_duration(transitions)} ease;
    background: _palette(bg);
    height: 3em;
    left: 0;
    line-height: 3em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: _misc(z-index-base);

    h1 {
        transition: opacity #{_duration(transitions)} ease;
        height: inherit;
        position: absolute;
        left: 20px;
        top: 0;
        font-weight: 800;
        line-height: inherit;

        a {
            border: 0;
            display: block;
            height: inherit;
            color: white;
            font-size: .5em;
            line-height: 3em;

            img {
                float: left;
                width: 58px;
                padding-right: 10px;
            }

            @include breakpoint(small) {
                font-size: 0.375em;
            }

            @include breakpoint(xsmall) {
                span {
                    display: none;
                }
            }
        
        }
    }
}

.header--invisible {
    background: transparent;

    h1 {
        @include vendor('pointer-events', 'none');
        opacity: 0;
    }
}