@import '../utils/sass/abstracts/all';

.interior-page {
    background: red;
	> header {
		@include padding(12em, 0);
		@include vendor('background-image', ('linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5))', 'url("../assets/images/banner.jpg")'));
		background-attachment: fixed;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;

		h2 {
			font-size: 1.75em;
			margin: 0 0 (_size(element-margin) * 0.25) 0;
		}

		p {
			color: inherit;
			letter-spacing: _size(letter-spacing-alt);
			text-transform: uppercase;
			top: 0;

			a {
				color: inherit;
			}
		}

		@include breakpoint(xlarge) {
			@include padding(10em, 0);
		}

		@include breakpoint(large) {
			@include padding(8em, 3em);
		}

		@include breakpoint(medium) {
			@include padding(10em, 3em);
		}

		@include breakpoint(small) {
			@include padding(5em, 3em);

			h2 {
				font-size: 1.25em;
				margin: 0 0 (_size(element-margin) * 0.5) 0;
			}
		}
	}

	&.about-us {
		> header {
			@include vendor('background-image', ('linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5))', 'url("../assets/images/internal pages/about-us.jpg")'));
		}
	}

	&.craft-workshops {
		> header {
			@include vendor('background-image', ('linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5))', 'url("../assets/images/internal pages/highlights.jpg")'));
		}
	}

	&.folk-song-and-dance {
		> header {
			@include vendor('background-image', ('linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5))', 'url("../assets/images/internal pages/highlights.jpg")'));
		}
	}

	&.highlights {
		> header {
			@include vendor('background-image', ('linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5))', 'url("../assets/images/internal pages/highlights.jpg")'));
		}
	}

	&.history {
		> header {
			@include vendor('background-image', ('linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5))', 'url("../assets/images/internal pages/history.jpg")'));
		}
	}

	&.press {
		> header {
			@include vendor('background-image', ('linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5))', 'url("../assets/images/internal pages/highlights.jpg")'));
		}
	}

	&.contact-us {
		> header {
			@include vendor('background-image', ('linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5))', 'url("../assets/images/internal pages/highlights.jpg")'));
		}
	}
	&.events {
		> header {
			@include vendor('background-image', ('linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5))', 'url("../assets/images/internal pages/highlights.jpg")'));
		}
	}

	&.join-us {
		> header {
			@include vendor('background-image', ('linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5))', 'url("../assets/images/internal pages/highlights.jpg")'));
		}
	}
	
}