@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';
@import 'font-awesome/font-awesome';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic');



.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

// Page Wrapper
#page-wrapper {
	@include vendor('transition', 'opacity #{_duration(menu)} ease');
	opacity: 1;
	padding-top: 3em;

	&:before {
		background: rgba(0,0,0,0);
		content: '';
		display: block;
		display: none;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: _misc(z-index-base) + 1;
	}
}

/* Form */

form {
	margin: 0 0 _size(element-margin) 0;
}

label {
	color: _palette(fg-bold);
	display: block;
	font-size: 0.9em;
	font-weight: _font(weight-bold);
	margin: 0 0 (_size(element-margin) * 0.5) 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
	@include vendor('appearance', 'none');
	background: _palette(border-bg);
	border-radius: 3px;
	border: none;
	color: inherit;
	display: block;
	outline: 0;
	padding: 0 1em;
	text-decoration: none;
	width: 100%;

	&:invalid {
		box-shadow: none;
	}

	&:focus {
		box-shadow: 0 0 0 2px _palette(accent1, bg);
	}
}

.select-wrapper {
	@include icon;
	display: block;
	position: relative;

	&:before {
		@include vendor('pointer-events', 'none');
		color: _palette(border);
		content: '\f078';
		display: block;
		height: _size(element-height);
		line-height: _size(element-height);
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		width: _size(element-height);
	}

	select::-ms-expand {
		display: none;
	}
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
	height: _size(element-height);
}

textarea {
	padding: 0.75em 1em;
}

input[type="checkbox"],
input[type="radio"], {
	@include vendor('appearance', 'none');
	display: block;
	float: left;
	margin-right: -2em;
	opacity: 0;
	width: 1em;
	z-index: -1;

	& + label {
		@include icon;
		color: _palette(fg);
		cursor: pointer;
		display: inline-block;
		font-size: 1em;
		font-weight: _font(weight);
		padding-left: (_size(element-height) * 0.6) + 0.75em;
		padding-right: 0.75em;
		position: relative;

		&:before {
			background: _palette(border-bg);
			border-radius: 3px;
			content: '';
			display: inline-block;
			height: (_size(element-height) * 0.6);
			left: 0;
			line-height: (_size(element-height) * 0.575);
			position: absolute;
			text-align: center;
			top: 0;
			width: (_size(element-height) * 0.6);
		}
	}

	&:checked + label {
		&:before {
			background: _palette(bg);
			color: _palette(fg-bold);
			content: '\f00c';
		}
	}

	&:focus + label {
		&:before {
			box-shadow: 0 0 0 2px _palette(accent1, bg);
		}
	}
}

input[type="checkbox"] {
	& + label {
		&:before {
			border-radius: 3px;
		}
	}
}

input[type="radio"] {
	& + label {
		&:before {
			border-radius: 100%;
		}
	}
}

::-webkit-input-placeholder {
	color: _palette(fg-light) !important;
	opacity: 1.0;
}

:-moz-placeholder {
	color: _palette(fg-light) !important;
	opacity: 1.0;
}

::-moz-placeholder {
	color: _palette(fg-light) !important;
	opacity: 1.0;
}

:-ms-input-placeholder {
	color: _palette(fg-light) !important;
	opacity: 1.0;
}

.formerize-placeholder {
	color: _palette(fg-light) !important;
	opacity: 1.0;
}

/* Box */

.box {
	border-radius: 3px;
	border: solid 2px _palette(border);
	margin-bottom: _size(element-margin);
	padding: 1.5em;

	> :last-child,
	> :last-child > :last-child,
	> :last-child > :last-child > :last-child {
		margin-bottom: 0;
	}

	&.alt {
		border: 0;
		border-radius: 0;
		padding: 0;
	}
}

/* Icon */

/* Image */

.image {
	border-radius: 3px;
	border: 0;
	display: inline-block;
	position: relative;

	img {
		border-radius: 3px;
		display: block;
	}

	&.left {
		float: left;
		margin: 0 2em 2em 0;
		top: 0.25em;
	}

	&.right {
		float: right;
		margin: 0 0 2em 2em;
		top: 0.25em;
	}

	&.left,
	&.right {
		max-width: 40%;

		img {
			width: 100%;
		}
	}

	&.fit {
		display: block;
		margin: 0 0 _size(element-margin) 0;
		width: 100%;

		img {
			width: 100%;
		}
	}
}

/* Table */

.table-wrapper {
	-webkit-overflow-scrolling: touch;
	overflow-x: auto;
}

table {
	margin: 0 0 _size(element-margin) 0;
	width: 100%;

	tbody {
		tr {
			border: solid 1px _palette(border);
			border-left: 0;
			border-right: 0;

			&:nth-child(2n + 1) {
				background-color: _palette(border-bg);
			}
		}
	}

	td {
		padding: 0.75em 0.75em;
	}

	th {
		color: _palette(fg-bold);
		font-size: 0.9em;
		font-weight: _font(weight-bold);
		padding: 0 0.75em 0.75em 0.75em;
		text-align: left;
	}

	thead {
		border-bottom: solid 2px _palette(border);
	}

	tfoot {
		border-top: solid 2px _palette(border);
	}

	&.alt {
		border-collapse: separate;

		tbody {
			tr {
				td {
					border: solid 1px _palette(border);
					border-left-width: 0;
					border-top-width: 0;

					&:first-child {
						border-left-width: 1px;
					}
				}

				&:first-child {
					td {
						border-top-width: 1px;
					}
				}
			}
		}

		thead {
			border-bottom: 0;
		}

		tfoot {
			border-top: 0;
		}
	}
}

/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
	@include vendor('appearance', 'none');
	@include vendor('transition', ('background-color #{_duration(transitions)} ease-in-out', 'color #{_duration(transitions)} ease-in-out'));
	background-color: transparent;
	border-radius: 3px;
	border: 0;
	box-shadow: inset 0 0 0 2px _palette(border);
	color: _palette(fg-bold);
	cursor: pointer;
	display: inline-block;
	font-size: 0.8em;
	font-weight: _font(weight-bold);
	height: 3.125em;
	letter-spacing: _size(letter-spacing-alt);
	line-height: 3.125em;
	padding: 0 2.75em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	&:hover {
		background-color: _palette(border-bg);
	}

	&:active {
		background-color: _palette(border2-bg);
	}

	&.icon {
		&:before {
			margin-right: 0.5em;
		}
	}

	&.fit {
		display: block;
		margin: 0 0 (_size(element-margin) * 0.5) 0;
		width: 100%;
	}

	&.small {
		font-size: 0.8em;
	}

	&.big {
		font-size: 1.35em;
	}

	&.special {
		background-color: _palette(accent6, bg);
		box-shadow: none !important;
		color: _palette(accent6, fg-bold) !important;

		&:hover {
			background-color: lighten(_palette(accent6, bg), 5) !important;
		}

		&:active {
			background-color: darken(_palette(accent6, bg), 5) !important;
		}
	}

	&.disabled,
	&:disabled {
		@include vendor('pointer-events', 'none');
		opacity: 0.25;
	}

	@include breakpoint(small) {
		height: 3.75em;
		line-height: 3.75em;
	}
}

/* Main */

#main {
	> header {
		@include padding(12em, 0);
		@include vendor('background-image', ('linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5))', 'url("../../images/banner.jpg")'));
		background-attachment: fixed;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;

		h2 {
			font-size: 1.75em;
			margin: 0 0 (_size(element-margin) * 0.25) 0;
		}

		p {
			color: inherit;
			letter-spacing: _size(letter-spacing-alt);
			text-transform: uppercase;
			top: 0;

			a {
				color: inherit;
			}
		}

		@include breakpoint(xlarge) {
			@include padding(10em, 0);
		}

		@include breakpoint(large) {
			@include padding(8em, 3em);
		}

		@include breakpoint(medium) {
			@include padding(10em, 3em);
		}

		@include breakpoint(small) {
			@include padding(5em, 3em);

			h2 {
				font-size: 1.25em;
				margin: 0 0 (_size(element-margin) * 0.5) 0;
			}
		}
	}

	&.about-us {
		> header {
			@include vendor('background-image', ('linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5))', 'url("../../images/internal pages/about-us.jpg")'));
		}
	}

	&.history {
		> header {
			@include vendor('background-image', ('linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5))', 'url("../../images/internal pages/history.jpg")'));
		}
	}


	&.highlights {
		> header {
			@include vendor('background-image', ('linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5))', 'url("../../images/internal pages/highlights.jpg")'));
		}
	}

	&.about-us {
		> header {
			@include vendor('background-image', ('linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5))', 'url("../../images/internal pages/about-us.jpg")'));
		}
	}

	&.about-us {
		> header {
			@include vendor('background-image', ('linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5))', 'url("../../images/internal pages/about-us.jpg")'));
		}
	}
	
}

body.is-mobile {
	#main {
		> header {
			background-attachment: scroll;
		}
	}
}

/* Landing */

body.landing {
	#page-wrapper {
		@include vendor('background-image', ('linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5))', 'url("../../images/banner.jpg")'));
		background-attachment: fixed;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: 0;
	}

	#footer {
		background-color: darken(transparentize(_palette(bg), 0.1), 8);
	}
}

body.is-mobile {
	&.landing {
		#page-wrapper {
			background: none;
		}

		#footer {
			background-color: darken(_palette(bg), 8);
		}
	}
}